@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

@theme {
    --color-bg: #EFF5FF;
    --color-border: #D6D9E6;
    --color-denim: #022959;
    --color-grey: #9699AA;
    --color-light_blue: #ABBCFF;
    --color-light_grey: #D6D9E6;
    --color-orange: #FFAF7E;
    --color-pink: #F9818E;
    --color-purple: #483EFF;
    --color-red_err: #EE374A;
    --color-sky_blue: #BEE2FD;
    --color-very_light_grey: #F8F9FF;
}

@layer components {
    .heading {
        font-weight: bold;
        font-size: 2rem;
    }

    .body_l {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .body_m {
        font-size: 14px;
    }

    .body_s {
        font-size: 12px;
    }
}